.all-buttons {
    height: 200px;
    border: 2px solid black;
    color: white;
    width: 250px;
    margin: auto;
    justify-content: space-around;
}

.button-container {
    width: 100vw;
}

.results {
    height: 100px;
    width: 100%;
    font-size: 45px;
}

.newgametext {
    width: 100%;
    height: 50px;
    font-size: 25px;
    justify-content: space-around;
    margin: auto;
}
.rock {
    background-color: darkslategrey;
}
.paper {
    background-color: purple;
}
.scissors {
    background-color: red;
}
.all-buttons {
    padding-top: 80px;
}